@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');

body {
	height: 100%;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

// Page
@import "./_home";


// Components
// @import "components/header";

.transform {
    transform:translateX(40%) translateY(50%)
}
