.login-form{
    margin-top:20px;
    color: #3877B7;
    // padding: 50px 35% 0px 5%;
    justify-content: space-around;
}

#btn{  
    $font-color: #FAFAFA;
    border: 110; 
    border-radius: 15px 15px 15px 15px;
    width: 25%;
    padding: 15px;
    margin-top: 15px;
    background-color: #3877B7;
    text-decoration: none;
  }