.login-form{
    // margin-top:20px;
    // color: #3877B7;
    padding: 100px 100px 100px 100px;
    justify-content: space-around;
    margin:left;
    width:100%;
	  height: 100%;
    // display: block;
    // box-sizing: border-box;
    
    
    
.loginform
label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: right;
        width: 50%;
        line-height: 26px;
        margin-bottom: 10px;
        $font-color: pink;
        text-align: top;
        margin: left;
        width:100%;
	      height: 100%;
      }
      
#input {
        height: 20px;
        flex: 0 0 200px;
        margin:left;
        position: fixed;
      }
    }


#btn{  
    $font-color: #FAFAFA;
    border: 110; 
    border-radius: 15px 15px 15px 15px;
    width: 50%;
    padding: 15px;
    margin-top: 15px;
    background-color: #7aacfa;
    text-decoration: none;
    align-items: center;
    margin:left;
  }

  