body{
    background-color: #a7abb0;
}
#top-nav{
    padding: 10px;
    margin-bottom: 20px;
    // background-color: #3877B7; 
    font-size: medium; 
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: #7aacfa;
    $font-color:white;

}
#nav-links{
    // color: white;
    text-align: center;
    text-decoration: none;
    $font-color: white;
}
a {
    // width: 50px;
    text-decoration: none;
    padding: 1em;
    height: 1em;
    // border-bottom: 3px solid ;
    $font-color:white;
&:hover {
    padding: 1em 1.5em;
    border-radius: 50%;
    text-decoration:none;
    font-size: 28px;
    transition: all 50ms;
    font-size-adjust: 10px;
    $font-color: white;
}
}