#parks{
    margin:left;
}

.inner{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: white;
    box-sizing: border-box;
    padding: 40px;
    margin:left;
}
.title{
    font-size: 24px;
    color: black;  
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 12px 0 20px 0;
    margin:left;
}

