.park-form{
    margin-top:40px;
    color: #3877B7;
    padding: 100px 100px 100px 100px;
    justify-content: space-around;
    $font-color: black;
    margin:left;
}
label {
    // display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: top;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    $font-color: pink;
    position: sticky;
    margin:left;
  }
  
#input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    position: fixed;
    margin:left;
  }



#btn{  
    $font-color: #FAFAFA;
    border: 110; 
    border-radius: 15px 15px 15px 15px;
    width: 25%;
    padding: 15px;
    margin-top: 15px;
    background-color: #7aacfa;
    text-decoration: none;
    margin:left;
  }
  .parktitle{
    position: relative;
    text-transform: uppercase;
    font-size: large;
    font-weight: 500;
    text-align: left;
    $font-color: white;
    
  }
 