.signup-form{
    margin-top:20px;
    // color: #3877B7;
    padding: 10px 10px 10px 10px;
    justify-content: space-around;
    background-color: #789bc5;
    border: black 2px solid;
}



#btn{  
    $font-color: #FAFAFA;
    border: 110; 
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    margin-top: 15px;
    background-color: #7aacfa;
    text-decoration: none;
  }