.signup-form{
    margin-top:40px;
    // color: #3877B7;
    padding: 100px 100px 100px 100px;
    justify-content: space-around;
    background-color: #a7abb0;
}



#btn{  
    $font-color: #FAFAFA;
    border: 110; 
    border-radius: 15px 15px 15px 15px;
    width: 25%;
    padding: 15px;
    margin-top: 15px;
    background-color: #7aacfa;
    text-decoration: none;
  }